/* Encabezado del Home */
.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh; /* Ajusta la altura del encabezado */
    margin: 20px 0;
  }
  
  .home-banner {
    background: linear-gradient(135deg, #1abc9c, #16a085);
    padding: 30px;
    border-radius: 15px;
    color: #fff;
    width: 80%; /* Ajusta el ancho del banner */
  }
  
  .home-banner h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
  }
  
  .home-banner p {
    font-size: 1.2rem;
    margin: 0;
  }
  
  
  /* Lista de productos */
  .home-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  /* Botón para más productos */
  .home-ver-mas {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  
  .home-boton-mas {
    background-color: #3498db;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
  }
  
  .home-boton-mas:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }
  
  /* Información adicional */
  .home-info {
    text-align: center;
    margin: 50px 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .home-info h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  .home-info p {
    font-size: 1rem;
    color: #7f8c8d;
    line-height: 1.6;
    margin: 10px 0;
  }
  