
.registro-container {
    background-color: #ffffff; 
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
  }
  

  .registro-container h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 0.5rem;
  }
  
  .registro-container p {
    font-size: 1rem;
    color: #7f8c8d;
    margin-bottom: 1.5rem;
  }
  

  .registro-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    font-size: 0.9rem;
    color: #34495e;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .registro-form input {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .registro-form input:focus {
    border-color: #3498db;
    box-shadow: 0 0 6px rgba(52, 152, 219, 0.4);
  }
  

  .registro-boton {
    background-color: #3498db;
    color: white;
    font-size: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .registro-boton:hover {
    background-color: #2c82c9;
  }
  
 
  .login-prompt {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #7f8c8d;
  }
  
  .login-link {
    color: #3498db;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .login-link:hover {
    color: #2c82c9;
  }
  